In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Date, Time,Text

import os
from time import time
from datetime import timedelta

In [2]:
pd.__version__

'1.5.3'

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/MVC_db')

In [4]:
engine.connect()

In [9]:
wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz

SyntaxError: invalid decimal literal (3899403196.py, line 1)

In [11]:
df = pd.read_csv('green_tripdata_2019-09.csv',nrows = 1000, low_memory=False)

In [12]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.00
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.00
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.00
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.00
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2,2019-09-01 01:23:24,2019-09-01 01:36:40,N,1,66,148,2,2.82,12.5,0.5,0.5,3.00,0.0,NaN,0.3,19.55,1,1,2.75
996,2,2019-09-01 01:54:08,2019-09-01 01:59:45,N,1,255,80,2,1.23,6.5,0.5,0.5,1.56,0.0,NaN,0.3,9.36,1,1,0.00
997,2,2019-09-01 01:06:35,2019-09-01 01:20:28,N,1,255,112,2,1.54,10.0,0.5,0.5,2.82,0.0,NaN,0.3,14.12,1,1,0.00
998,2,2019-09-01 01:29:41,2019-09-01 01:42:01,N,1,93,53,1,5.41,17.5,0.5,0.5,4.70,0.0,NaN,0.3,23.50,1,1,0.00
999,2,2019-09-01 01:11:28,2019-09-01 01:11:36,N,1,41,41,1,0.03,2.5,0.5,0.5,0.00,0.0,NaN,0.3,3.80,2,1,0.00

In [13]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv',iterator = True, chunksize = 100000, low_memory=False)
df = next(df_iter)
lng = 0
while len(df) > 0:
    try:
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
        
        df.to_sql(name = 'green_tripdata_2019-09',con = engine, if_exists = 'append')
        df = next(df_iter)
        lng+= len(df)
        print(lng)
    except StopIteration:
        print("Finished ingesting data into the postgres database")
        break

100000
200000
300000
349063
Finished ingesting data into the postgres database

In [8]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [9]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [10]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265